@font-face {
    font-family: HankenFont;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    min-width: 320px;
    overflow:scroll;
}
#block{
    
    min-height: 70%;
    font-family: HankenFont;
    display: flex;
    min-width: 50%;
    box-shadow: 3px 3px 5px #7a70e73d;
    border-radius: 20px;
}
.container{
    width: 50%;
    padding: 6%;
    display: flexbox;
    text-align: center;

}
.container:first-child{
    display: flexbox;
    background-color: #4534F2;
    color: white;
    border-radius: 20px;
    
}
.container .container_circle{
    
    margin:20px auto;
    line-height: normal;
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom ,#4D22C9, #4534F2);
    border-radius: 50%;
    align-items: center;
}
.container .container_circle h1{
    position: relative;
    font-size: 3rem;
    top: 30%;
}
.container .container_circle h5{
    position: relative;
    bottom: -30%;
}
.container h4{
    margin-top: 1rem;
    font-size: 1.2rem;
}
#container{
    padding: 1rem 0px;
}
#container h2{
    margin: 20px;
}
#container_list .accordion_container{
    padding: 10px;
    margin: 20px ;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: silver;
    border-radius: 14px;

}
.container>#container_btn{
    background:linear-gradient(to bottom,rgb(101,66,255),rgb(51,46,213) );
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 3rem;
    width: 85%;
    border-radius: 20px;
    border:none;
}
.container>#container_btn:hover{
    background: rgb(48,59,89);
}


@media (max-width:720px){
    #block{
        width: 100%;
        display: block;
    }
    .container{
        width: 100%;
    }
    #container>#container_btn{
        height: 4rem;
    }
   
    body{
        display: block;
        min-width: 320px;
        
    }
}
